section#contact {
  background-color: #edffe1;
}

section#contact textarea, input {
  box-shadow: 1px 2px #379683;
}

section#contact button {
  background-color: rgba(204, 204, 204, 0);
  color: black;
  font-weight: bold;
  border: 2px solid black;
}

section#contact button:hover {
  background-color: #8ee4ef;
  border-color: #05386b;
  color: #05386b;
}