section#contact textarea, input {
  box-shadow: 1px 2px #24a0ed;
}

section#contact button {
  background-color: rgba(204, 204, 204, 0);
  color: black;
  border: 2px solid black;
}

section#contact button:hover {
  background-color: #8ee4ef;
  color:white;
}