nav {
  background-color: darkslategray;
  color: white;
  border-bottom: 1px solid white;
}

nav a {
  color: white;
}

nav a:hover {
  color: white;
  transform: scale(1.2);
}

nav i {
  margin: 10px;
}

nav i:hover {
  color: white;
  transform: scale(1.2);
}