footer {
  font-size: 16px;
  text-align: center;
  padding-bottom: 25px;
}

footer button.footer-button {
  position: relative;
  bottom: 20px;
  background-color: black;
  border: 1px solid black;
}

footer button.footer-button:hover {
  background-color: darkgreen;
  border-color: darkgreen;
}

i.social-link {
  margin: 25px;
}

i.social-link:hover {
  transform: scale(1.2);
  color: darkgreen;
}