footer {
  font-size: 16px;
  text-align: center;
  padding-bottom: 25px;
}

footer button.footer-button {
  position: relative;
  bottom: 20px;
  background-color: black;
  border: 2px solid black;
}

i.social-link {
  margin: 25px;
  color: black;
}

i.social-link:hover {
  transform: scale(1.2);
  color: #24a0ed;
}